@import "../../common/variables.scss";

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 2rem;
  padding-bottom: 2rem;
  background: $background-secondary-alt;
  color: $foreground-primary;
  .title {
    height: 64px;
    line-height: 64px;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
    span {
      position: relative;
    }
    span::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 4px;
      bottom: -4px;
      left: 0;
      background-color: $accent;
    }
  }
  .projects {
    // margin: 2rem 0;
    width: 100%;
    display: flex;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    .project {
      width: 50%;
      height: 12rem;
      display: flex;
      border-radius: 8px;

      .image {
        width: 50%;
        display: inherit;
        img {
          width: 100%;
          position: relative;
          border-radius: 10px 0 0 10px;
          object-fit: cover;
        }
      }
      .info {
        width: 54%;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        border-radius: 8px;
        background: #000;
        left: -4%;
        position: relative;
        overflow: hidden;
        .name {
          font-weight: 600;
          color: violet;
          font-size: 1rem;
        }
        .description {
          font-size: 0.8rem;
          u {
            text-decoration: none;
            border-bottom: 1px solid rgb(255, 37, 255);
          }
        }
        .links {
          font-size: 0.8rem;
          display: flex;
          position: absolute;
          bottom: 0;
          right: 0;
          gap: 20px;
          padding: 4px 10px;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 8px;
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5),
            0px 0px 25px rgba(0, 0, 0, 0.8), 0px 0px 25px rgb(0, 0, 0);

          .link {
            display: flex;
            align-items: center;
            cursor: pointer;
            i {
              font-size: 0.9rem;
              margin: 0 4px;
            }
            .dot {
              font-size: 0.5rem;
              animation: fadeinout 3s infinite;
            }
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .viewMore {
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom: 0;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: end;
    background: linear-gradient(
      0deg,
      rgba(19, 23, 24, 1) 10%,
      rgba(239, 116, 92, 0) 100%
    );

    button {
      background: $accent;
      color: $background-secondary-alt;
      font-size: 0.8rem;
      font-weight: 800;
      padding: 0.2rem 0.4rem;
    }
  }
  > .viewMore {
    height: 50px;
    width: calc(100% - 4rem);
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: red;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .container {
    .projects {
      flex-direction: column;
      // max-height: 420px;
      .project {
        width: 100%;

        height: 10rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    .projects {
      flex-direction: column;
      .project {
        width: 100%;
        height: 20rem;
        flex-direction: column;
        .image {
          width: 100%;
          height: 50%;
          img {
            border-radius: 8px 8px 0 0;
          }
        }
        .info {
          left: 0;
          height: 50%;
          width: 100%;
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
}
