@import "../../common/variables.scss";

.container {
  width: 100%;
  padding: 2px 4px;
  background-color: rgba(255, 255, 255, 0.02);
  text-align: center;
  border-bottom: 2px solid $accent;
  span {
    color: rgba($color: $accent, $alpha: 1);
  }
}
